In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset_fix.csv')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 0.1,conversation_id,date,tweet,tweetbersih,translated,sentiment,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,0,0,1.41E+018,2021-06-24 8:41:03,Di gua udh ga ada sawah digusur sentraland se...,Di gua sudah tidak ada sawah digusur sentralan...,In the cave there are no rice fields evicted b...,negative,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1.41E+018,2021-06-22 1:05:52,teriak harga properti mahal akhirnya sawah d...,teriak harga properti mahal akhirnya sawah di...,"shouted expensive property prices, finally the...",negative,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,1.41E+018,2021-06-18 8:41:56,Gunungnya udah dikeruk Sawah udah jadi pabrik...,Gunungnya udah dikeruk Sawah udah jadi pabrik...,The mountain has been dredged The rice field h...,negative,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,1.41E+018,2021-06-17 20:55:28,Semua sawah akan digusur dinggo mbangun dalan ...,Semua sawah akan digusur membangun jalan tol p...,All rice fields will be evicted so that they c...,neutral,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,1.41E+018,2021-06-17 19:41:33,Terpikir jg klo fenomena skrg proyek bangunan ...,Terpikir juga kalau fenomena sekarang proyek b...,It also occurred to me that the phenomenon now...,neutral,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1, inplace = True)

In [5]:
data.drop(['date', 'conversation_id', 'tweetbersih', 'translated'], axis = 1, inplace = True)

In [6]:
data.drop(['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'], axis = 1, inplace = True)

In [7]:
data.head()

                                               tweet sentiment
0  Di gua udh ga ada sawah  digusur sentraland se...  negative
1  teriak  harga properti mahal  akhirnya sawah d...  negative
2  Gunungnya udah dikeruk  Sawah udah jadi pabrik...  negative
3  Semua sawah akan digusur dinggo mbangun dalan ...   neutral
4  Terpikir jg klo fenomena skrg proyek bangunan ...   neutral

In [9]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp38-cp38-manylinux2010_x86_64.whl (24.9 MB)
     |████████████████████████████████| 24.9 MB 47 kB/s  eta 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Collecting scipy>=0.19.1
  Downloading scipy-1.7.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.4 MB)
     |████████████████████████████████| 28.4 MB 62 kB/s  eta 0:00:01    |████▏                           | 3.7 MB 4.3 MB/s eta 0:00:06
Requirement already satisfied: joblib>=0.11 in /home/matthewmh/.local/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in /home/matthewmh/.local/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.21.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1315 sha256=6cd8a52618ad34329388647d2355284b88b291e792a2981ef22eb9448eaa0ba2
  Stored in directory: /home/matthewmh/.cache/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, scikit-learn, sklearn
Successfully installed scikit-learn-0.24.2 scipy-1.7.0 sklearn-0.0 threadpoolctl-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [10]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.15, random_state=75)